# Virtual environment
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.pytest_cache/
htmlcov/

# PyCharm
.idea/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Excel output files
*.xlsx

# Ignore local docker helper scripts/folders
docker_commands/
